
@{
    ViewData["Title"] = "ModeExemList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid"> 
    <div class="card shadow">
        <div class="fb-image-lg profile-bgExam   ">
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="fb-image-profilex">
                    <h1 class="text-uppercase">ชุดข้อสอบ</h1>
                </div>
            </div>
            <div class=" p-3">
                <table class="table table-hover table-sm bg-white w-100" id="tbItemCatg">
                    <thead class="bg-light">
                        <tr>
                            <th class="text-center">รหัสชุดข้อสอบ</th>
                            <th class="text-center">ชื่อข้อสอบ</th>
                            <th class="text-center">จำกัดเวลา</th>
                            <th class="text-center">เลือกทำ</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <a href="@Url.Action("LicenceList")" class="btn  btn-link"> Back</a>
        </div>
    </div>

</div>

@section scripts{
    <link href="~/lib/datatables/Css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/Js/jquery.dataTables.min.js"></script>



    <script type="text/javascript">
        var myTables1;
        $(document).ready(function () {
            InitTable();
            GetData();
        });

        function InitTable() {

            myTables1 = $("#tbItemCatg").DataTable({ 
                ordering: true,
                processing: true,
                dom: '<"top"l>rt<"bottom"ip><"clear">',
                columns: [
                    { data: "itemCateg", name: "itemCateg", class: "text-wrap  " },
                    { data: "itemCategName", name: "itemCategName", class: "text-wrap  " },
                    {
                       data: null,
                       name: null,
                       className: "center",
                       "fnCreatedCell": function (nTd, oData) {
                           var cntItemCateg = oData.cntItemCateg;
                           var HTMLTag = ""; 
                           HTMLTag = '<h6><span class="badge badge-warning text-lg"> <i class="far fa-clock"></i> ' + cntItemCateg + ' นาที</span></h3>';
                           $(nTd).html(HTMLTag);
                       }, className: "dt-body-center"
                   },
                    {
                        data: null,
                        name: null,
                        className: "center",
                        "fnCreatedCell": function (nTd, oData) {
                            var itemCateg = oData.itemCateg;
                            var HTMLTag = "";
                            var TEST = "@ViewBag.Itemcateg"; 
                            HTMLTag = '<a href="@Url.Action("Examexamination")?ItemInput=' + itemCateg + '&ItemCateg=' + TEST +'"  class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> เลือกทำข้อสอบ</a>'; 
                            $(nTd).html(HTMLTag);
                        }, className: "dt-body-center"
                    },
                ],
                order: [0, "asc"],
            });
        }

        function GetData() {

            $.ajax({
                type: 'POST',
                url: "../UIExam/GetInputItem",
                  data: { itemCateg : "@ViewBag.Itemcateg" },
                dataType: 'json',
                success: function (Data) {

                    myTables1.clear().draw();
                    if (Data._strResult == "OK") {

                        myTables1.rows.add(Data.data).draw();

                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: Data.dataLabel,
                            type: 'error',
                            timer: 1700,
                        }).then(function () {
                            return false;
                        });

                    };
                },
                error: function (ex) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Failed to retrieve states.' + ex,
                        type: 'error',
                        timer: 1700,
                    }).then(function () {
                        return false;
                    });

                },
            });

        } 


    </script>
}
