
@{
    ViewData["Title"] = "UserReqeustInqury";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        @*<div class="fb-image-lg profile-bgx">
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <h1>USER REQUEST INQUIRY</h1>
            </div>*@
        <div class="fb-image-lg profile-bg2   ">

        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="fb-image-profilex">
                    <h1 class="text-uppercase">USER REQUEST INQUIRY</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="  table-responsive">
                        @* <h6 class="m-3">Additional Department</h6>*@
                        <br />
                        <table class="table   table-striped table-sm nowrap" id="myTables">
                            <thead class="bg-light">
                                <tr>
                                    <th>DocNo</th>
                                    <th>OperatorID</th>
                                    <th>SectionCode</th>
                                    <th>SectionAttribute</th>
                                    <th>OperatorGroup</th>
                                    <th>License</th>
                                    <th>Active</th>
                                    <th>ReqOperatorID</th>
                                    <th>ReqDate</th>
                                    <th>ChangeOperatorID</th>
                                    <th>ChangeDate</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:xx-small"></tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <link href="~/lib/datatables/Css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/Js/jquery.dataTables.min.js"></script>
    <script src="~/lib/CustomJS/ScriptUserManage/Additional.js"></script>
    <script src="~/lib/CustomJS/ScriptUserManage/UserManagemant.js"></script>
    <script src="~/lib/DataTables/js/dataTables.fixedColumns.js"></script>
    <script src="~/lib/DataTables/js/dataTables.fixedHeader.js"></script>
    <script>
        var myTables;
        $(document).ready(function () {
            SetmyTablesn();
            $("#btnSearch").on("click", function (event) {
                Swal.fire({
                    icon: 'success',
                    title: "Success~!",
                    text: "Reset to Default",
                    type: 'success',
                });
            });

            $("#btnClear").on("click", function (event) {
                Swal.fire({
                    title: 'Are you sure to reset?',
                    //text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Do it!'
                }).then(function (result) {

                    if (result.value) {
                        Swal.fire({
                            icon: 'success',
                            title: "Success~!",
                            text: "Reset to Default",
                            type: 'success',
                        })
                    }
                });
            });
        });

        function SetmyTablesn() {

            myTables = $("#myTables").DataTable({
                paging: true,
                ordering: true,
                processing: true,
                deferRender: true,
                dom: '<"top"l>rt<"bottom"ip><"clear">',
                columns: [
                    { data: "docNo" },
                    { data: "operatorID" },
                    { data: "sectionCode" },
                    { data: "sectionAttribute" },
                    { data: "operatorGroup" },
                    { data: "license" },
                    { data: "active" },
                    { data: "reqOperatorID" },
                    { data: "reqDate" },
                    { data: "changeOperatorID" },
                    { data: "changeDate" },
                ],
                order: [1, "asc"],
                fnInitComplete: function (oSettings, json, sData) {
                    addSearchControl(json);
                    return true;
                },
            });
            getDataReqeustList();
        }

        function getDataReqeustList() {




            $.ajax({
                type: 'POST',
                url: "../TEC_Management/GetDataInquiry",
                //   data: { OPID: $("#strOPNo").val() },
                dataType: 'json',
                success: function (Data) {
                    myTables.clear().draw();
                    if (Data.count != 0) {
                        myTables.rows.add(Data.data).draw();
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                },
            });


        }

        function addSearchControl(event) {
            $("#myTables thead").append($("#myTables thead tr:first").clone());
            $("#myTables thead tr:eq(1) th").each(function (index) {
                if (index != 100) {
                    $(this).replaceWith('<th><input type="text" class="form-control form-control-sm input mw-100 "  placeholder="Fill for Search ' + $(this).html() + ' . . ."/></th>');
                    var searchControl = $("#myTables thead tr:eq(1) th:eq(" + index + ") input");

                    searchControl.on('keyup', function (event) {
                        var searchController = myTables.column(index).search(searchControl.val());
                        var keycode = (event.keyCode ? event.keyCode : event.which);
                        // if (keycode == '13') {
                        searchController.draw();
                        // }
                    });
                }
                else {
                    // $(this).replaceWith('<th><input id="datepicker" data-range="true" data-multiple-dates-separator="-" data-language="en" class="datepicker-here form-control form-control-sm" style="width:250px; text-align:center;"    placeholder="' + $(this).html() + '"/> </th>');

                    $(this).replaceWith('<th><span>Click For Manage</span> </th>');
                    searchControl = $("#myTables thead tr:eq(1) th:eq(" + index + ") input");
                    searchControl.datepicker({
                        format: 'M/dd/yyyy-M/dd/yyyy',
                    }).val();
                    searchControl.datepicker({
                        format: 'M/dd/yyyy',
                        onSelect: function (dateText) {
                            var cSting = dateText.length;
                            if (cSting == 23) {
                                searchController = myTables.column(index).search(searchControl.val());
                                $("#myTables thead tr:eq(1) th:eq(0) input").focus();
                                searchController.draw();
                            } else if (cSting == 0) {
                                searchController = myTables.column(index).search(searchControl.val());
                                searchController.draw();
                            }
                        }
                    })
                    searchControl.on('keyup', function (event) {
                        searchController = myTables.column(index).search(searchControl.val());
                        var keycode = (event.keyCode ? event.keyCode : event.which);
                        //if (keycode == '13') {
                        searchController.draw();

                        //}
                    });
                }
            });
        }

    </script>
}
