
<div class="container">
    <div class=" row">
        <div class="col-7">
            <h5 class=" mb-0"><strong> User License</strong></h5>
            <span class="text-secondary">Employee Management <i class="fa fa-angle-right"></i> User License</span>
        </div>
    </div>
    <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
        <div class="container">
            <div class="form-group row">
                <div class="col-sm">
                    <label for="Rfid" class="mb-0">License user</label>
                    <div class=" ml-3 w-100">
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="OP">OP
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="INS">INS
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="ST">ST
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="MK">MK
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="ETG">ETG
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="MGR">MGR
                            </label>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>
</div>
