
@{
    ViewData["Title"] = "ForTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>


</head>

<body>

    <div class="container">
        <div class="row" id="fortest">

            <button class="add" data-target="skill_1">add</button><br />
            <span id="skill_1">0</span>

            <div class="col col-lg-6   col-md-6  justify-content-lg-center justify-content-md-center   mb-md-4 mb-lg-4 pt-lg-1 pt-md-1  text-lg-center text-md-center  " id="ActualTime_4">


                <div class="row justify-content-lg-center justify-content-md-center text-lg-center text-md-center ">

                    <label id="LB_ActualTime_4" class="font-weight-bold mb-lg-0 mb-md-0 text-warp ">
                        ActualTime
                    </label>


                </div>



                <div class="Time_Display mt-lg-2 mt-md-2">

                    <label id="Minutes_4" class="font-weight-bold mb-lg-0 mb-md-0  ">
                        00
                    </label>
                    :
                    <label id="Seconds_4" class="font-weight-bold mb-lg-0 mb-md-0 ">
                        00
                    </label>

                </div>




            </div>

            <div id="button_wrap_4" class="row justify-content-lg-center justify-content-md-center mt-lg-4 mt-md-4  text-center">
                <button class="btn btn-primary mr-lg-4 mr-md-2 Time_Backward " id="BTN_Backward_4" data-target="4"> - </button>

                <button id="start_4" class="btn_response  btn btn-success rounded m-1 " name="QuestionNo_4" onclick="start('4');"><i class="fas fa-play-circle"></i> Start</button>

                <button class="btn btn-primary ml-lg-4 ml-md-2  Time_Forward" id="BTN_Forward_4" data-target="4"> + </button>
      
                @*<button id="pause_4" class="btn_response  btn btn-warning rounded  m-1 " style="display: none;" name="QuestionNo_4" onclick="pause('4');"><i class="far fa-pause-circle"></i> Pause</button>
        <button id="resume_4" class="btn_response btn btn-success rounded m-1 " style="display: none;" name="QuestionNo_4" onclick="resume('4');"><i class="fa fa-play fa-fw"></i>Resume</button>
        <button id="reset_4" class="btn_response btn btn-primary rounded m-1 " style="display: none;" name="QuestionNo_4" onclick="reset('4');"> <i class="fas fa-redo-alt fa-fw fa-flip-horizontal " aria-hidden="true"></i></button>
        <button id="stop_4" class="btn_response btn btn-danger rounded m-1 " style="display: none;" name="QuestionNo_4" onclick="stop('4');"><i class="fa fa-stop fa-fw fa-flip-horizontal" aria-hidden="true"></i></button>*@

            </div>

        </div>
    </div>

    @section scripts{

        @*<script src="~/lib/CustomJS/Practical/Practical_Display.js"></script>*@
        <script src="~/lib/CustomJS/Exam/CommonJS.js"></script>
        <script src="~/lib/Stopwatch/js/script.js"></script>
 
        <script src="~/lib/CustomJS/Practical/test.js"></script>
        <script type="text/javascript">

            var Staffcode;
            var OPID;
            var Plan_ID;
            var ItemID;
            $(document).ready(function () {

               OPID =   "@User.Identity.Name";

          
         
            });

       


         

        </script>
     }
    </body>





</html>

